body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

.container {
    width: 800px;
    background-color: #ccc;
    height: auto;
    clear: both;
    overflow: auto;
    margin: 40px auto;
}

.header {
    height: 100px;
    width: 200px;
    background-image: url(../img/nmsug_little.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.menu {
    height: 50px;
}

.main {
    width: 700px;
    color: #8c0b42;
    margin: 0 auto;
}
.main_location {
    width: 800px;
    margin: 0 auto;
}
.left-body {
    width: 400px;
    float: left;
    height: 800px;
}
.right-body {
    width: 400px;
    float: right;
    height: auto;
    margin: 0 auto;
}
.formElement {
    width: 350px;
    margin: 6px auto;
    height: 40px;
}
.TField {
    width: 350px;
    height: 35px;
    border: 1px solid #e0dfdf;
    padding-left: 6px;
    font-size: 17px;
}
.button {
    font-size: 25px;
    width:200px;
    height: 50px;
    background-color: #8c0b42;
}

.faq {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 4px;
    border: 1px solid grey;
    border-radius: 15px;
    color: black;
    font-size: 18px;
}
.logout {
    text-align: center;
}

.footer {
    font-size: 25px;
    height: 100px;
    background-color: #ededed;
    bottom: 0;
    position: fixed;
}
.nope {
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
}