body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

.container {
    width: 800px;
    background-color: #ccc;
    height: auto;
    clear: both;
    overflow: auto;
    margin: 40px auto;
}

.header {
    height: 100px;
    width: 200px;
    background-image: url(../img/nmsug_little.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.menu {
    height: 50px;
}

.main {
    
}
.left-body {
    width: 350px;
    float: left;
    height: 400px;
}
.right-body {
    width: 450px;
    float: right;
    height: auto;
}
.formElement {
    width: 350px;
    margin: 6px auto;
    height: 40px;
}
.TField {
    width: 350px;
    height: 35px;
    border: 1px solid b#e0dfdf;
    padding-left: 6px;
    font-size: 17px;
}
.footer {
    font-size: 25px;
    height: 100px;
}
